.hd-one
  display: flex
  flex-flow: row nowrap
  align-items: center
  justify-content: center
  height: 1.46667rem
  font-size: .42667rem
  .more
    align-items: center
    display: flex
    flex-flow: row nowrap
    color: #333
    .icon
      margin-left: .13333rem
    .icon-go
      display: inline-block;
      vertical-align: middle;
      background-image: url(//yanxuan-static.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/go2-3e511991d6.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: .4rem;
      height: .4rem
