#goTop
  position: fixed;
  right: .30667rem;
  bottom: 1.6rem;
  vertical-align: middle;
  width: 1.09333rem;
  height: 1.09333rem;
  background-image: url(//yanxuan-static.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/goToTop-7a19216f77.png);
  background-size: 1.09333rem 1.09333rem;
  z-index: 2;
  &.on
    display: inline
  &.off
    display: none